<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#DiRumahAja</title>

    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="./img/Arka.png" type="image/x-icon">

</head>
<body>
    <header>
        <nav class="container">
            <div class="nav-brand">
                <img src="./img/Arka.png" alt="Logo">
            </div>
            <ul class="main-nav">
                <li class="nav-item"><a href="#">FAQ</a></li>
                <li class="nav-item"><a href="#">Location</a></li>
                <li class="nav-item"><a href="#">Contact</a></li>
                <li class="nav-item-btn"><a href="#" class="btn btn-primary">Donate</a></li>
            </ul>
            <div class="mobile-menu-icon" onclick="changeMenuIcon(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </nav>
    </header>
    
    <div class="home">
      <div class="container">
            <div class="content">
                <h1>FIGHT CORONA VIRUS</h1>
                <h1>#StayAtHome</h1>
                <p>Lorem ipsum is simply dummy text of the printing and <br> typesetting industry. Lorem Ipsum has been the industry's <br> standard dummy text ever since the 1500s.</p>
                <div>
                    <a href="#" class="btn btn-secondary">Learn More</a>
                    <a href="#" class="btn btn-transparent">Contact Us</a>
                </div>
            </div>
            <div class="illustration">
                <img src="./img/home.png" alt="Ilustration">
            </div>
      </div>
    </div>

    <div class="lakukan-apa">
        <div class="container">
            <h2 class="text-center">What must we do?</h2>

            <div class="content">
                <div class="card text-center">
                    <div class="card-title">
                        <img src="./img/1.png" alt="Stay at home">
                        <h3>#StayHome</h3>
                    </div>         
                    <div class="card-body text-center">
                        <span>Do all things, <br> from home</span>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-title">
                        <img src="./img/2.png" alt="Wash your hands">
                        <h3>Wash Your Hands</h3>
                    </div>         
                    <div class="card-body text-center">
                        <span>Wash your hands with a soap for at least 20 seconds, or use a hand sanitiser.</span>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-title">
                        <img src="./img/3.png" alt="Wear a mask">
                        <h3>Wear A Mask</h3>
                    </div>         
                    <div class="card-body text-center">
                        <span>Wear a mask if you need to go outside, at all times.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

















